* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    background: #f6f9fc;
}

.down_list {
    width: 200px;
    overflow: hidden;
    border: 1px solid #aab4bc;
    background: url("./images/down_list_h2_bg.gif") repeat-x;
    margin: 50px auto 0;
}

.down_list h2 {
    height: 25px;
    line-height: 25px;
    border: 1px solid #dee3e6;
    border-top: 1px solid #f3f5f7;
    padding-left: 10px;
    font-size: 14px;
    font-weight: normal;
    color: #57646e;
    cursor: pointer;
}

.down {
    background: url("./images/down.gif") no-repeat 180px center;
}

.up {
    background: url("./images/up.gif") no-repeat 180px center;
}

.down_list ul {
    width: 200px;
    overflow: hidden;
    background: #e9edf2;
    font-size: 12px;
}

.down_list ul li {
    width: 200px;
    float: left;
}

.down_list ul li a {
    display: block;
    line-height: 25px;
    padding-left: 10px;
    color: #6b7890;
    text-decoration: none;
}

.down_list ul li a:hover {
    background: #cccccc;
    text-decoration: underline;
}